.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    .date {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgba(0, 0, 0, 0.6);

        svg {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            fill: currentColor;
        }
    }

    .title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.4em;
        height: calc(1.4em * 3);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
    }

    .text {
        line-height: 1.4em;
        height: calc(1.4em * 3);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
    }

    .link {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        color: #363636;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.2s;

        svg {
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            transition: transform 0.2s ease-in-out;
            fill: currentColor;
        }

        &:hover {
            color: #000;
            text-decoration: underline;
        }

        &:hover svg {
            transform: translateX(3px);
        }
    }
}
